[submodule "xmonad"]
	path = xmonad/xmonad
	url = https://github.com/xmonad/xmonad
[submodule "xmonad-contrib"]
	path = xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
[submodule "X11"]
	path = xmonad/X11
	url = https://github.com/xmonad/X11
[submodule "X11-xft"]
	path = xmonad/X11-xft
	url = https://github.com/xmonad/X11-xft
[submodule "xmobar/xmobar"]
	path = xmobar/xmobar
	url = https://codeberg.org/xmobar/xmobar
